*{
    color: white;
}

body{
    background-color: #2e2f33;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Inicio Menu */

#menu {
    background: #170128;
    padding: 20px 40px;
    text-align: center;
    height: 50px;
    position: relative;
}


#menu ul {
    font-size: 18px; 
    list-style:none;
    display: flex;
    justify-content: center;
}

#menu ul li { 
    color: white;
    display: inline;
    padding-inline: 20px;
    margin: -5px;
    border-style: none;
}

#menu ul a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 150px;
    display: flex;
    position: absolute;
    left: 100px;
    top: 25%;
}

#sacola{
    width: 45px;
    display: flex;
    float: right;
    position: absolute;
    top: 25%;
    left: 90%;
}
/* Fim Menu */

/* Inicio Filtro de Produtos */

#filter ul {
    font-size: 18px; 
    list-style:none;

    li { 
        padding-top: 10px;
    }
}

#filter h1 {
    margin-left: 35px;
}

.checkbox input {
    display: none;
}

.checkbox input + label:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.checkbox input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: rgb(74, 74, 236);
    background-position: center;
    border: none;
    padding: 1px;
}

/* Fim Filtro de Produtos */