body{
    background-color: #2e2f33;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Inicio Menu */

#menu {
    background: #170128;
    padding: 20px 40px;
    text-align: center;
    height: 50px;
    position: relative;
}


#menu ul {
    font-size: 18px; 
    list-style:none;
    display: flex;
    justify-content: center;
}

#menu ul li { 
    color: white;
    display: inline;
    padding-inline: 20px;
    margin: -5px;
    border-style: none;
}

#menu ul a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 150px;
    display: flex;
    position: absolute;
    left: 100px;
    top: 25%;
}

#sacola{
    width: 45px;
    display: flex;
    float: right;
    position: absolute;
    top: 25%;
    left: 90%;
}

/* Fim Menu */